/*
 * Licensed to the Apache Software Foundation (ASF) under one
 * or more contributor license agreements.  See the NOTICE file
 * distributed with this work for additional information
 * regarding copyright ownership.  The ASF licenses this file
 * to you under the Apache License, Version 2.0 (the
 * "License"); you may not use this file except in compliance
 * with the License.  You may obtain a copy of the License at
 *
 * http://www.apache.org/licenses/LICENSE-2.0
 *
 * Unless required by applicable law or agreed to in writing,
 * software distributed under the License is distributed on an
 * "AS IS" BASIS, WITHOUT WARRANTIES OR CONDITIONS OF ANY
 * KIND, either express or implied.  See the License for the
 * specific language governing permissions and limitations
 * under the License.
 */
* {
    -webkit-tap-highlight-color: rgba(0,0,0,0); /* make transparent link selection, adjust last value opacity 0 to 1.0 */
}

body {
    -webkit-touch-callout: none;                /* prevent callout to copy image, etc when tap to hold */
    -webkit-text-size-adjust: none;             /* prevent webkit from resizing text to fit */
    -webkit-user-select: none;                  /* prevent copy paste, to allow, change 'none' to 'text' */
    background-color:#E4E4E4;
    background-image:linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-ms-linear-gradient(top, #A7A7A7 0%, #E4E4E4 51%);
    background-image:-webkit-gradient(
        linear,
        left top,
        left bottom,
        color-stop(0, #A7A7A7),
        color-stop(0.51, #E4E4E4)
    );
    background-attachment:fixed;
    font-family:'HelveticaNeue-Light', 'HelveticaNeue', Helvetica, Arial, sans-serif;
    font-size:12px;
    height:100%;
    margin:0px;
    padding:0px;
    text-transform:uppercase;
    width:100%;
}

/* Portrait layout (default) */
.app {
    background:url(../img/logo.png) no-repeat center top; /* 170px x 200px */
    position:absolute;             /* position in the center of the screen */
    left:50%;
    top:50%;
    height:50px;                   /* text area height */
    width:225px;                   /* text area width */
    text-align:center;
    padding:180px 0px 0px 0px;     /* image height is 200px (bottom 20px are overlapped with text) */
    margin:-115px 0px 0px -112px;  /* offset vertical: half of image height and text area height */
                                   /* offset horizontal: half of text area width */
}

/* Landscape layout (with min-width) */
@media screen and (min-aspect-ratio: 1/1) and (min-width:400px) {
    .app {
        background-position:left center;
        padding:75px 0px 75px 170px;  /* padding-top + padding-bottom + text area = image height */
        margin:-90px 0px 0px -198px;  /* offset vertical: half of image height */
                                      /* offset horizontal: half of image width and text area width */
    }
}

h1 {
    font-size:24px;
    font-weight:normal;
    margin:0px;
    overflow:visible;
    padding:0px;
    text-align:center;
}

.event {
    border-radius:4px;
    -webkit-border-radius:4px;
    color:#FFFFFF;
    font-size:12px;
    margin:0px 30px;
    padding:2px 0px;
}

.event.listening {
    background-color:#333333;
    display:block;
}

.event.received {
    background-color:#4B946A;
    display:none;
}

@keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
@-webkit-keyframes fade {
    from { opacity: 1.0; }
    50% { opacity: 0.4; }
    to { opacity: 1.0; }
}
 
.blink {
    animation:fade 3000ms infinite;
    -webkit-animation:fade 3000ms infinite;
}

/*.Home{
    background-image: url("../img/bg.png");

}
.Second{
    background-image: url("../img/bg_2.png");

}*/

.footer-menu{
    width: 100%;
    float: right;
}

.footer-menu li{
    float: left;
    line-height: 34.78px;
    padding: 0 20px;
}

li {
    list-style-type: none;
}


*{
  font-family: 'Roboto';
 
}

body{

}
 
.ui-content{
text-shadow:none !important;
position: absolute;
top: 0;
right: 0;
bottom: 0;
left: 0;
}
 
.Home{
  text-shadow: none;
  background-image: url("../img/bg1.png");
     background-repeat: no-repeat;
    background-size: 100% auto;

}
 
.main-text-container{
margin-top: 60%; 
padding-bottom: 10px;
}
 
.text-container{
text-align: center;  
color:white; 
font-size: 32px; 
font-weight: 900;
}
 
.line{
height: 2px; 
width: 10%; 
background-color: #D5515F; 
margin: 0 auto;
}
 
.text-comment{
  text-align: center;
  color: white;
  padding-top: 5px;
}
 
.container-buttons{
  width:95%;
  margin: 30% auto 0 auto;
}
 
.button-home-primary{
  font-size: 12px; 
  padding: 15px 0 15px 0; 
  font-weight: 300; 
  border-radius: 25px; 
  border: 0; 
  text-shadow:none !important;
  background-color: #D5515F !important; 
  color: white !important;
}
 
#googleLogOut, #googleCheck{
  border: 1px solid white;
  background-color: transparent !important;
}
 
.text-terms{
  text-align: center; 
  padding-top: 30px; 
  color: white; 
  font-size: 8px; 
  width: 100%;
}
 
.secound-page{
  min-height:90vh;
}
 
.secound-page-background{
  background-image: url('../img/bg_2.png');
  width: 100%;
  margin:0;
  padding: 0;
     background-size: 100% auto;
     background-repeat: no-repeat;
}
 
.container-top-content{
padding: 20px 0 40px 0;
}
 
.name-user-top{
text-align: center;
color: white;
font-size: 22px;
text-transform: none;
}
 
.first-box{
  width: 80%;
  height: 75px;
  background-color: white;
  position: none;
  border-radius: 20px;
  margin-left: 10%; 
  margin-top: -30px;
  box-shadow: 0px 5px 12px 0px  rgb(0, 0, 0, 0.05);
}
.first-box-content{
  top: 50%;
  text-align: center; 
  position: relative;  
  float: left;   
  left: 50%;  
  transform: translate(-50%, -50%);
  display: inline-block;
 
}
 
.first-box-date{
  color: #47A0B5;
  font-size: 28px;
  text-transform: none !important;
  font-weight: 500;
}
 
.first-box-comment{
  font-size: 10px;
  color: #A6B1C0;
 
}
#rest-box{
  height: 60px;
  margin-top:30px;
  position: relative;
}

.icon {
  padding-right: 0.7em;
  float: right;
  padding-top: 0.6em;
  font-size: 32px;
  color: #E36E7B;
}

.circle {
  position: relative;
  width: 40px;
  height: 40px;
   display: table-cell;
  text-align: center;
  vertical-align: middle;
  border-radius: 50%;
  background: #E36E7B;
  color: white;
  font-size: 18px;
  font-weight: 300;
}
 
.rest-box-content{
  top: 50%;
  text-align: center; 
  position: relative;  
  float: left;   
  left: 10%;  
  transform: translate(-50%, -50%);
  display: inline-block;
 
}

.container-element-box{
  position: absolute;
  margin-left: 20%;
  padding-top: 16px;
}

.value-element-mark{
  font-size: 10px;
  text-transform: none;
}

.value-element-inner{
  float:right; 
  text-align: right; 
  padding-top: 16px; 
  margin-right: 5%;
}
 
.element-date{
  font-size: 11px; 
  text-transform: none;
  color: #A6B1C0
} 

.menu-container{
  list-style-type: none;
  margin: 0;
  padding:0px;
  font-weight: 300;
  text-transform: none;
  font-size: 12px;
  text-align: center;
}

.menu-element{
  display: inline-block;
  padding: 0px 1em
}
 